* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    position: relative;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

body > .container {
    position: absolute !important;
    height: 100% !important;
    width: calc(100% - 78px) !important;
    left: 78px !important;
    padding: 10px 20px !important;
    transition: all 0.5s ease !important;
}

@media (max-width: 55rem) {

}

