.board-list {
    display: flex;
    flex-flow: column nowrap;
    width: 290px;
    max-height: calc(600px - 70px);
    background: #eae9e9;
    margin: 0 10px;
    border-radius: 5px;
    overflow: hidden;
}
.board-list-wrapper {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-gutter: stable;
}

.list-wrapper-header {
    color: #333333;
    font-weight: 600;
    background: #f5f5f5;
    padding: 15px;
}

.list-wrapper-cards {
    border-radius: 3px;
}

.list-wrapper-add-card {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    padding: 10px;
    margin: 5px;
    color: #666666;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.list-wrapper-add-card:hover {
    color: #1a202c;
    background: rgba(24, 24, 24, 0.1);
}
.list-wrapper-add-card p {
    margin-left: 5px;
}
